@import '../../variables';

section#clientes {
    background: $deepBlack;
    padding: 20px 0;
    position: relative;
    z-index: 1;

    .container {
        max-width: 1200px;   
        
        @media(orientation:portrait){
            margin: 0;
            width: 100%;
            box-sizing: border-box;
        }
    }

    .row {
        align-items: center;

        .title {
            width: 50%;
            padding-right: 10%;

            @media(orientation:portrait){
                width: 100%;
                padding: 0;
            }

            h3 {
                width: 100%;

                p {                    
                    font-size: 5rem;
                    line-height: 4rem;
                    margin-bottom: 20px;
                    color: $deepBlack;
                    letter-spacing: -1px;
                    color: #fff;
                    background: -webkit-linear-gradient(45deg, #4640d7, #bc22e6 30%, #ffd600 80%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    @media(orientation:portrait){
                        font-size: 3.5rem;
                        line-height: 3rem;
                    }
                }
            }
        }

        .logos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 50%;

            @media(orientation:portrait){
                width: 100%;                
            }

            .logo {
                width: 33.33%;
                padding: 2%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;

                @media(orientation:portrait){
                    width: 50%;
                    padding: 0;
                    margin: 20px 0;
                }

                img {
                    max-width: 140px;
                    max-height: 80px;

                    @media(orientation:portrait){
                        //max-width: 120px;
                        //max-height: 70px;
                    }
                }
            }
        }
    }


}